.err {
    text-align: center;
    background-color: #ccc;
    margin: 0;
    padding: 25px;
    color: #444;
    max-width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .err h2 {
    font-size: 30px;
    margin-bottom:10px;
  }
a{
    text-decoration:none;
}
  @media (max-width:767px){
    .err h2 {
      font-size: 20px;
    }
  }